Package: galley-schema
Version: <<VERSION_NUMBER>>+<<BUILD_NUMBER>>
Maintainer: Social Technologies LTD <technology@social.network>
Architecture: amd64
Description: Schema Definition / Migration for Galley
