Package: brig-integration
Version: <<VERSION_NUMBER>>+<<BUILD_NUMBER>>
Maintainer: Social Technologies LTD <technology@social.network>
Architecture: <<ARCHITECTURE>>
Description: Integration Tests for Brig
